.navbar-dark .navbar-brand {
    color: #074198;
}

.jumbotron{
  background-image: url(cameroncrazies.jpg);
  background-size:cover;
}

.jumbotron img{
  height: 300px;
}

.jumbotron h1{
  color:white;
}

.col-lg-6{
  text-align: center;
}
